body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background: url("img/bgheader.jpg");
	height: 690px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	display: block;
	width: 100%;
	height: 40px;
}
ul li{
	display: block;
	float: right; /* Puedo usar cualquiera de los dos, float o display*/
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px 6px;
	display: block; 
	border-top: 5px solid transparent;
}
.activo, li a:hover{ /*Dar efecto cuando el cursos este encina de la etiqueta*/
	font-weight: bold;
	border-top: 5px solid #54d154; /*Barra arriba del texto*/
	color: #fff;
	text-decoration: none;
}
.buscador{
	background:rgba(217,216,216, 0.9);
	border: none;
	border-radius: 15px;
	height: 27px; /*De arriba para abajo (Altura)*/
	padding: 7px 0px; /*Distancia de la letra para arriba y para abajo*/
	font-size: 16px;
	color: #11111
	width: 100%;
    margin-top: 5px;
}
.busqueda{
    display: flex;
    flex-direction: row;
} 
.lupa{
    margin-left: -30px;
    margin-top: 9px;
} 
#center-header{
	height: 596px;
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color: #fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 10px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito a:hover{
	text-decoration: none;
	background: #e50f0f;
	transform: scale(1.05);
}
.pagina{
	display: flex;
	justify-content: center;
}
.pagina a{
	background:rgba(217,216,216, 0.9);
	border: none;
	border-radius: 15px;
	width: 121px;
	height: 26px;
	color: #000;
	text-align: center;
	padding: 3px 0px;
}
.distancia{
	padding-left: 5px;
}
.text-center{
	padding-top: 42px;
	color: #828181;
}
.linea{
   background-color: #828181; 
   width: 45px;
   height: 2px; 
}
.texto{
   text-align: center;
   color: #54d154;
   font-size: 16px;
   margin-top: 12px;
}
.fotos{
   background: #e1f3e1;
   width: 142px;
   height: 142px;
   border-radius: 20px;
   margin-top: 60px;
}
.apartados{
   font-size: 24px;
   color: #828181;
   font-weight: bold;
   margin-top: 28px;
}
.click{
    background: #54d154;
    color: #fff;
    width: 120px;
    height: 30px;
    text-align: center;
    padding:4px 0px;
    border-radius: 20px;
    transition: 0.5s ease all;
}
.click:hover{
    text-decoration: none;
    background: #54d154;
    transform: scale(1.05);
    color: #fff;
}
.lrm{
    font-size: 15px;
    color: #8c8b8b;
    width: 272px;
    text-align: center;
    padding-top: 19px;
    line-height: 1.2 (18px); /*Interlineado*/
}
.medio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadro{
	border-radius: 20px;
	background: #e1f3e1;
    width: 142px;
    height: 142px;
}
.size{
    background: #54d154;
    height: 750px;
}
.siguiente{
	color: #828181;
    font-size: 18px;   
}
.iconos{
	color: #54d154;
}
.fotos{
	display: flex;
    justify-content: center;
    align-items: center;
}
.fondito{
	background: #54d154;
	margin-top: 43px;
}
.seccion{	
}
.otro-titulo{
    font-size: 20.54px; 
    padding-top: 43px;
    color: #207b20;
}
.line{
   background-color: #207b20; 
   width: 45px;
   height: 2px; 
}
.otro-sub{
	font-size: 16px;
	color: #207b20;
	text-align: center;
}


