body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background: url("img/bgheader.jpg");
	height: 690px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	display: block;
	width: 100%;
	height: 40px;
}
ul li{
	display: block;
	float: right; /* Puedo usar cualquiera de los dos, float o display*/
}
li a{
	color: white;
	font-size: 14px;
	padding: 8px 6px;
	display: block; 
	border-top: 5px solid transparent;
}
.activo, li a:hover{ /*Dar efecto cuando el cursos este encina de la etiqueta*/
	font-weight: bold;
	border-top: 5px solid #54d154; /*Barra arriba del texto*/
	color: #fff;
	text-decoration: none;
}
.buscador{
	background:rgba(217,216,216, 0.9);
	border: none;
	border-radius: 15px;
	height: 27px; /*De arriba para abajo (Altura)*/
	padding: 7px 0px; /*Distancia de la letra para arriba y para abajo*/
	font-size: 16px;
	color: #111;
	width: 100%;
    margin-top: 5px;
}
.busqueda{
    display: flex;
    flex-direction: row;
} 
.lupa{
    margin-left: -30px;
    margin-top: 9px;
} 
#center-header{
	height: 596px;
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color: #fff;
	font-weight: bold;
	font-size: 55px;
}
#centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width: 205px;
	height: 49px;
	border-radius: 30px;
	padding: 10px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}
#centradito a:hover{
	text-decoration: none;
	background: #e50f0f;
	transform: scale(1.05);
}
.pagina{
	display: flex;
	justify-content: center;
}
.pagina a{
	background:rgba(217,216,216, 0.9);
	border: none;
	border-radius: 15px;
	width: 121px;
	height: 26px;
	color: #000;
	text-align: center;
	padding: 3px 0px;
}
.distancia{
	padding-left: 5px;
}
.encabezado{
	padding-top: 42px;
	color:#207b20;
}
.what-we-do{
	color:#828181;
	text-align: center;
}
.linea{
   background-color: #828181; 
   width: 45px;
   height: 2px; 
}
.texto{
   text-align: center;
   color: #b7b3b3;
   font-size: 16px;
   margin-top: 12px;
}
.fotos{
   background: #e1f3e1;
   width: 142px;
   height: 142px;
   border-radius: 20px;
   margin-top: 60px;
}
.apartados{
   font-size: 24px;
   color: #828181;
   font-weight: bold;
   margin-top: 28px;
}
.click{
    background: #54d154;
    color: #fff;
    width: 120px;
    height: 30px;
    text-align: center;
    padding:4px 0px;
    border-radius: 20px;
    transition: 0.5s ease all;
}
.click:hover{
    text-decoration: none;
    background: #f34d04;
    transform: scale(1.05);
	color: #fff;	
}
.lrm{
    font-size: 15px;
    color: #8c8b8b;
    width: 272px;
    text-align: center;
    padding-top: 19px;
    line-height: 1.2 (18px); /*Interlineado*/
}
.medio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadro{
	border-radius: 20px;
	background: #e1f3e1;
    width: 142px;
    height: 142px;
}
.size{
    background: #54d154;
    height: 750px;
}
.siguiente{
	color: #828181;
    font-size: 18px;   
}
.iconos{
	color: #54d154;
}
.fotos{
	display: flex;
    justify-content: center;
    align-items: center;
}
.fondito{
	background: #54d154;
    margin-top: 43px;
    height: 746px;
}
.meet_the_team{
    font-size: 20.54px; 
    padding-top: 43px;
    color: #207b20;
}
.line{
   background-color: #207b20; 
   width: 45px;
   height: 2px; 
}
.otro-sub{
	font-size: 16px;
	color: #207b20;
	text-align: center;
}
.centrado{
	display: flex;
	justify-content: center;
}
.menu-de-3{
	display: flex;
	justify-content: center;	
}
.tamnaño{
	width: 280px;
	height: 33px;
}
.tamnaño ul .active{	
	width: 121px;
	color: #fff;
    border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;  
	background: #2b9b2b; 
}
.medida_2 a{
	color: #2b9b2b;
	background: #fff;
	width: 87px;
	text-align: center;	
	border-right: 1px solid #2b9b2b;
	border-top: 1px solid #2b9b2b;
	border-bottom: 1px solid #2b9b2b;
}
.medida_3 a{
	background: #fff;
	width: 68px;
	color: #2b9b2b;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;	
	border-right: 1px solid #2b9b2b;
	border-top: 1px solid #2b9b2b;
	border-bottom: 1px solid #2b9b2b;
}
.imagenes{
	padding-top: 58px;
	display: flex;
	justify-content: center;	
}
#ver_mas{
	width: 190px;
    background: #2b9b2b;
    border-color: #2b9b2b;
}
.opcion{
	display: flex;
    justify-content: center;
    padding-top: 189px;
}
.opcion a{
	background-color: rgba(32, 148, 47, 0.9);
	border: none;
	border-radius: 20px;
	width: 184px;
	height: 40px;
	color: #fbfefb;
	text-align: center;
	padding: 7px 5px;
    font-size: 18px;
    margin-top: -120px;
}
.opcion a:hover{
    text-decoration: none;
    background: #f34d04;
    transform: scale(1.05);	
}
.new_section{
	background: #ffffff;
	height: 460px;
}
.testimonials{
    font-size: 20.54px; 
    padding-top: 43px;
    color: #828181;
}
.testimonials1{
	font-size: 16px;
	color: #b7b3b3;
	text-align: center;
}
.generic_center{
	display: flex;
	justify-content: center;
}
.programando{
	height: 482px;
	background: #54d154;
}
.programando2{
	height: 95px;
	background: #3eba3e;
}
.testimonials2{
	font-size: 16px;
    color: #444444;
    text-align: center;
	line-height: 1.2 (18px); 
	padding-top: 74px;
}
.section_ourhapy{
	background: #f2f1f1;
	height: 496px;
}
.logos{
	padding-top: 58px;
	display: flex;
	justify-content: center;	
}
.see_opcion{
	display: flex;
	justify-content: center;
	margin-bottom: -83px;
}
.see_all_client{
	display: flex;
    justify-content: center;
    padding-top: 189px;
}
.see_all_client a{
	background-color: #dddcdc;
	border: none;
	border-radius: 20px;
	width: 188px;
	height: 40px;
	color: #a59d9d;
	text-align: center;
	padding: 7px 5px;
    font-size: 18px;
    margin-top: -146px;
}
.nombres_personas{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
  }
.work_with_us_2{
	display: flex;
    justify-content: center;
    background: #3eba3e;
    height: 100px;
}
.opcion_2{
	display: flex;
    justify-content: center;
    padding-top: 189px;
}
.opcion_2 a{
	background-color: #54d154;
    border: none;
    border-radius: 20px;
    width: 175px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    padding: 7px 5px;
    font-size: 18.63px;
    margin-top: -161px;
}
.opcion_2 a:hover{
	text-decoration: none;
    background: #f34d04;
	transform: scale(1.05);
}
.separacion_meettheteam{
	background: #54d154;
	height: 500px;
}
.personas{
	
	color: #fff;
}
.img_personas{
    border-radius: 50%;
}

.container_team{
	height: 575px;
	background: #54d154;
}	
.negro{
	background: #333333;
    height: 800px;
    margin-top: -47px;
}
.dif_temas{
	font-size: 24px;
    color: #dddddd;
    margin-top: 80px;
 }
 .dif_temas_aboutus{
	font-size: 24px;
	color: #dddddd;
	margin-top: 80px;
 }
 .liniecita{
	background-color: #dddddd; 
	width: 30px;
	height: 2px; 
	margin-top: -2px;
 }
 .descripcion{
    font-size: 15px;
    color: #cccccc;
	width: 222px;
    text-align: center;
    padding-top: 10px;
}
.dif_temas_contactus{
	font-size: 24px;
	color: #dddddd;
	margin-top: -196px;
 }
.escribir1{
	background: #444444;
	border: none;
	border-radius: 5px;
	height: 32px; 
	font-size: 16px;
	color: #777777;
	width: 100%;
    margin-top: 20px;
}
.escribir2{
	background: #444444;
	border: none;
	border-radius: 5px;
	height: 32px; 
	width: 322px;
	font-size: 16px;
	color: #777777;
	width: 100%;
	margin-top: 2px;
}
.escribir3{
	background: #444444;
	border: none;
	border-radius: 5px;
	height: 131px; 
	font-size: 16px;
	color: #777777;
	width: 100%;
    margin-top: 2px;
}
.send{
	background-color: #2b9b2b;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 399px;
    color: #ffffff;
    text-align: center;
    padding: 7px 5px;
    font-size: 14px;
    margin-top: 2px;
}
.send:hover{
	text-decoration: none;
	background: #e50f0f;
	transform: scale(1.05)
}
.final{
	background: #222222;
	height: 100px;
}
.titulo_final{
    font-size: 20px; 
    padding-top: 28px;
	color: #101010;
	text-align: center;
}
.linea_final{
   background-color: #101010; 
   width: 45px;
   height: 2px; 
}
.separacion{
	display: flex;
	justify-content: center;
	padding-top: 51px;
} 
.autor_testimonial{
	  display: flex;
	  align-items: center;
}	
.derecho_autor h3{
	color: #444444;
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.derecho_autor h4{
	color: #ccc;
	font-size: 16px;
	font-weight: 400;
}
.slick-prev:before, .slick-next:before{
	color: #444;
}
.personaje img{
	margin: auto;
	display: block;
}
.personaje p{
	text-align: center;
}
.personaje .linea_vertical{
	width: 6px;
	height: 77px;
	background: green;
	margin: auto;
	margin-top: 14px;
	margin-bottom: 14px;
}
.color_de_nombres{
	color: #fff;
}